<footer class="text-center mb-8" aria-labelledby="footerHeading">
  <h2 id="footerHeading" class="sr-only">Footer</h2>
  <div class="max-w-md mx-auto px-4 sm:max-w-7xl sm:px-6 lg:px-8">
    <p class="text-base text-gray-400 xl:text-center space-x-4">
      <a href="https://twitter.com/Voterheads">
        <img src="/assets/images/twitter.png" class="h-6 w-6 inline"/>
      </a>

      <a href="https://www.linkedin.com/company/voterheads/">
        <img src="/assets/images/linkedin.png" class="h-6 w-6 inline"/>
      </a>

      <a href="https://www.facebook.com/Voterheads/">
        <img src="/assets/images/facebook.png" class="h-6 w-6 inline"/>
      </a>
    </p>

    <p class="text-base text-gray-400 xl:text-center">
      <span class="block sm:inline">© 2023 All rights reserved.</span>
      <span class="block sm:inline">Voterheads, LLC</span>
    </p>
  </div>
</footer>

<script defer data-domain="blog.voterheads.com" src="https://plausible.io/js/script.js"></script>
