<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>{{ page.title }} - {{ site.title }}</title>
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
<meta name="description" content="Voterheads provides monitoring of local governments. We allow you to track agenda items at local public meetings through customized reports and email alerts. We also offer embeddable widgets that provide local government meeting data for media companies."/>
